<div class="uk-grid-small uk-text-center" uk-grid>
  <div class="uk-width-expand"></div>
  <div class="uk-text-center">
    <p>&nbsp;<br/>
      P.O. Box 12345, Anytown, ST<br/>
      <a href="mailto:rick@trailbreakercustoms.com" class="hidden-link-text">rick@trailbreakercustoms.com</a><br/>
      © 2021 Trailbreaker Customs | Site Design by Tommy Craft
    </p>
  </div>
  <div class="uk-width-expand"></div>
</div>