<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <%- include('../partials/topnav'); %>
  <div class="uk-container" uk-height-viewport="expand: true">
    <main>
      <div class="uk-container-small uk-margin-auto">
        <div class="uk-text-center">
          Header Image Here
        </div>
        <p>Index content goes here</p>
      </div>
    </main>
    <footer>
      <%- include('../partials/footer'); %>
    </footer>
  </div>
</body>